{% extends 'layouts/base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% bootstrap_messages %}

{% block header %}
{% translate "Labels" %}
{% endblock %}

{% block content %}
    <a class="nav-link" href="{% url 'labels:create' %}">{% translate "Create label" %}</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{% translate "id"|upper %}</th>
      <th>{% translate "name"|capfirst %}</th>
      <th>{% translate "created at"|capfirst %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for label in object_list %}
      <tr>
        <td>{{ label.id }}</td>
        <td>{{ label.name }}</td>
        <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
        <td>
          <a href="{% url 'labels:update' label.pk %}">{% translate "Update" %}</a>
          <br>
          <a href="{% url 'labels:delete' label.pk %}">{% translate "Delete" %}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}