{% extends 'info.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block header %}
Информационная панель
{% endblock %}

{% bootstrap_messages %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
      <a class="navbar-brand text-white bg-dark" href={% url 'root' %}>Главная</a>
      <button class="navbar-toggler collapsed bg-light" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
</nav>
{% endblock %}

{% block content %}
  <!-- Форма фильтрации -->
<div class="card-body">
    <form class="form-inline right" method="get">
        <div class="row">
            <!-- Первая колонка с первыми фильтрами -->
            <div class="col-md-6">
                <!-- Фильтр по бетону -->
                <div class="form-group ml-3 p-1 col-12">
                    <label for="concrete">Бетон</label>
                    <select id="concrete" name="concrete" multiple="multiple" class="form-control">
                        {% for concrete in filter.form.fields.concrete.queryset %}
                                <option value="{{ concrete.id }}">{{ concrete.klas }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Выпадающий список с чекбоксами для колонн -->
                <div class="form-group ml-3 p-1 col-12">
                    <label for="column">Колонны</label>
                    <select id="column" name="column" multiple="multiple" class="form-control">
                        {% for column in filter.form.fields.column.queryset %}
                            <option value="{{ column.id }}">{{ column.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Фильтр по секции -->
                <div class="form-group ml-3 p-1 col">
                  <label for="section">Секции</label>
                  <select id="section" name="section" multiple="multiple">
                    {% for section in filter.form.fields.section.queryset %}
                      <option value="{{ section.id }}">{{ section.name }}</option>
                    {% endfor %}
                  </select>
                </div>
            </div>

            <!-- Вторая колонка с оставшимися фильтрами -->
            <div class="col-md-6">
                <!-- Фильтр по этажу -->
                <div class="form-group ml-3 p-1 col-12">
                    <label for="floor">Этаж</label>
                    <select id="floor" name="floor" multiple="multiple" class="form-control">
                        {% for floor in filter.form.fields.floor.queryset %}
                            <option value="{{ floor.id }}">{{ floor.number }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Фильтр по стенам -->
                <div class="form-group ml-3 p-1 col-12">
                    <label for="wall">Стены</label>
                    <select id="wall" name="wall" multiple="multiple" class="form-control">
                        {% for wall in filter.form.fields.wall.queryset %}
                                <option value="{{ wall.id }}">{{ wall.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Фильтр по перекрытиям -->
                <div class="form-group ml-3 p-1 col-12">
                    <label for="slab">Перекрытия</label>
                    <select id="slab" name="slab" multiple="multiple" class="form-control">
                        {% for slab in filter.form.fields.slab.queryset %}
                                <option value="{{ slab.id }}">{{ slab.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Фильтр по площадкам -->
                <div class="form-group ml-3 p-1 col-12">
                    <label for="transition">Площадки</label>
                    <select id="transition" name="transition" multiple="multiple" class="form-control">
                        {% for transition in filter.form.fields.transition.queryset %}
                                <option value="{{ transition.id }}">{{ transition.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <!-- Новый блок для фильтров арматуры -->
        <div class="row mt-9">
            <div class="col-12">
                <div class="form-group ml-3 p-1 col">
                  <label for="bar_type">Тип арматуры</label>
                  <select id="bar_type" name="bar_type" multiple="multiple" class="form-control">
                    {% for bar in filter.form.fields.bar_type.choices %}
                      <option value="{{ bar.0 }}">{{ bar.1 }}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="form-group ml-3 p-1 col">
                  <label for="manufacture_place">Место изготовления арматуры</label>
                  <select id="manufacture_place" name="manufacture_place" multiple="multiple" class="form-control">
                    {% for place in filter.form.fields.manufacture_place.choices %}
                      <option value="{{ place.0 }}">{{ place.1 }}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="form-group ml-3 p-1 col">
                  <label for="armature_klas">Клас арматуры</label>
                  <select id="armature_klas" name="armature_klas" multiple="multiple" class="form-control">
                    {% for klas in filter.form.fields.armature_klas.queryset %}
                      <option value="{{ klas.id }}">{{ klas.klas }}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="form-group ml-3 p-1 col">
                  <label for="armature_diameter">Диаметр арматуры</label>
                  <select id="armature_diameter" name="armature_diameter" multiple="multiple" class="form-control">
                    {% for item in filter.form.fields.armature_diameter.queryset %}
                      <option value="{{ item.id }}">{{ item.diameter }}</option>
                    {% endfor %}
                  </select>
                </div>

            </div>
        </div>

        <!-- Кнопки для фильтрации и сброса фильтров -->
        <div class="row ml-5 mt-3">
            <div class="col-12 text-center d-flex flex-column align-items-center">
                <input class="btn btn-primary mb-2" type="submit" value="Показать">
                <a href="{% url 'dashboard:index' %}" class="btn btn-primary">Очистить фильтры</a>
            </div>
        </div>
    </form>
</div>

<div class="active-filters">
    <ul>
        {% for filter_name, filter_values in active_filters.items %}
            {% if filter_values %}
                <li>
                    <strong>{{ filter_name|capfirst }}:</strong>
                    {% for value in filter_values %}
                        <span class="badge badge-primary">{{ value }}</span>
                    {% endfor %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<hr>
<h4>Общий объем бетона: {{ total_volume }} м³</h4>
<h4>Общая масса арматуры: {{ total_mass|floatformat:2 }} кг</h4>
<h2>Результаты</h2>
<ul>
  {% for construction in constructions %}
    <li>
      {% if construction.transition %}
        <a href="{% url 'transitions:detail' construction.transition.id %}">
          {{ construction }}
        </a>
        (Бетон: {{ construction.concrete.klas }}, Объем: {{ construction.transition.volume }} м³, толщина: {{ construction.transition.thickness }})
      {% elif construction.wall %}
        <a href="{% url 'walls:detail' construction.wall.id %}">
          {{ construction }}
        </a>
        (Бетон: {{ construction.concrete.klas }}, Объем: {{ construction.wall.volume }} м³)
      {% elif construction.column %}
        <a href="{% url 'columns:detail' construction.column.id %}">
          {{ construction }}
        </a>
        (Бетон: {{ construction.concrete.klas }}, Объем: {{ construction.column.volume }} м³)
      {% elif construction.slab %}
        <a href="{% url 'slabs:detail' construction.slab.id %}">
          {{ construction }}
        </a>
        (Бетон: {{ construction.concrete.klas }}, Объем: {{ construction.slab.volume }} м³, толщина: {{ construction.slab.thickness }})
      {% else %}
        {{ construction }}
      {% endif %}
      {% if construction.armature %}
        <p>Арматура: Диаметр {{ construction.armature.diameter.diameter }} mm</p>
        <p>Масса: {{ construction.armature.calculate_mass|floatformat:2 }} кг</p>
      {% endif %}
    </li>
  {% empty %}
    <li>Нет результатов по данному фильтру.</li>
  {% endfor %}
</ul>


<!-- Пагинация -->
<div class="pagination">
    <span class="step-links">
        {% if constructions.has_previous %}
            <a href="?page=1">&laquo; Первая</a>
            <a href="?page={{ constructions.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ constructions.number }} из {{ constructions.paginator.num_pages }}.
        </span>

        {% if constructions.has_next %}
            <a href="?page={{ constructions.next_page_number }}">Следующая</a>
            <a href="?page={{ constructions.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>


<!-- Подключение jQuery и плагина MultiSelect -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-multiselect/dist/css/bootstrap-multiselect.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap-multiselect/dist/js/bootstrap-multiselect.min.js"></script>

<!-- Инициализация MultiSelect для всех полей -->
<script type="text/javascript">
  $(document).ready(function() {
      $('#column, #concrete, #section, #floor, #wall, #slab, #transition, #bar_type, ' +
          '#manufacture_place, #armature_klas, #armature_diameter').multiselect({
          includeSelectAllOption: true,
          selectAllText: 'Выбрать все',
          nonSelectedText: 'Выберите значения',
          buttonWidth: '100%',
          enableFiltering: true,
          filterPlaceholder: 'Искать...',
          numberDisplayed: 1,
          nSelectedText: 'выбрано',
          allSelectedText: 'Все выбраны'
      });
  });
</script>

{% endblock %}
