{% extends 'layouts/base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block header %}
Просмотр перекрытия
{% endblock %}

{% block content %}

  <div class="card">
      <div class="card-header bg-secondary text-white">
              <h2>{{ object }}</h2>
      </div>

        <div class="card-body bg-light">
            <p>{{ slab.description }}</p>
            <hr>
                 <div class="row p-1">
                    <div class="col">Наименование</div>
                    <div class="col">{{ slab.name }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">Объем</div>
                    <div class="col">{{ slab.volume }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">Толщина</div>
                    <div class="col">{{ slab.thickness }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">Дата создания</div>
                    <div class="col">{{ slab.project_sheet }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">Проект</div>
                    <div class="col">{{ slab.project }}</div>
                </div>

{% include 'layouts/armature.html' with armatures=slab.slabarmature_set.all %}

            <div class="row p-1">
                <div class="col">
          <a href="{% url 'slabs:update' slab.pk %}">{% translate "Update" %}</a>
          <br>
          <a href="{% url 'slabs:delete' slab.pk %}">{% translate "Delete" %}</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}