{% extends 'layouts/base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% bootstrap_messages %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-white bg-dark" href="{% url 'root' %}">Главная</a>
    <button class="navbar-toggler collapsed bg-light" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarToggleExternalContent" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'management' %}">Панель пользователей</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'info' %}">Справочная панель</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'dashboard:index' %}">Информационная панель</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'version' %}">Справка</a>
            </li>

        </ul>
        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">{% translate 'Logout' %}</button>
                </form>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'login' %}">{% translate "Login" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'users:create' %}">{% translate "Sign up" %}</a>
            </li>

            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}

      <h1 class="display-3 pt-5 mt-5 pb-5">{% translate "Привет"%}</h1>

{% endblock %}