{% extends 'layouts/base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-white bg-dark" href="{% url 'root' %}">Главная</a>
    <button class="navbar-toggler collapsed bg-light" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarToggleExternalContent" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'management' %}">Панель пользователей</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'info' %}">Справочная панель</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'dashboard:index' %}">Информационная панель</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'version' %}">Справка</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">{% translate 'Logout' %}</button>
                </form>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'login' %}">{% translate "Login" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'users:create' %}">{% translate "Sign up" %}</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="welcome-message">
        <h1>Добро пожаловать в приложение Ambassador !</h1>
        <p>Здесь вы найдете всю необходимую информацию для детального обзора проекта строительства.</p>
    </div>
    <div class="features">
        <h2>Основные функции</h2>
        <p>Наше приложение позволяет анализировать информацию о конструкциях и материалах, используя мощные фильтры для быстрого получения точной и актуальной информации.</p>
    </div>
    <div class="instructions">
        <h2>Инструкции для начала работ</h2>
        <p>Для начала работы выберите необходимый раздел в верхней части страницы. Программа обработает данные и предоставит результаты в удобном для восприятия виде.</p>
    </div>
    <div class="advantages">
        <h2>Преимущества</h2>
        <p>Программа помогает значительно упростить процесс планирования и анализа, повышая эффективность работы. Наш принцип "Долой рутину!", смысл которого в том, чтобы любую задачу выполнять один раз, а всю остальную работу доверить программному коду.</p>
    </div>
    <div class="contact-info">
        <h2>Контактная информация</h2>
        <p>Если у вас возникли вопросы или нужна помощь, свяжитесь с нами через форму обратной связи или по электронной почте.</p>
    </div>
</div>
{% endblock %}
